/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: hsl(0, 0%, 20%);
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(34, 114, 65);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.logoDiv {
  display: flex;
  justify-content: center;
}

.logo {
  padding-top: 250px;
  width: 200px;
  animation: fade-in 2.5s ease-in
}
@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.title-name {
    color: aliceblue;
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in-up .5s ease-in-out forwards;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 170px;
}
@keyframes fade-in-up {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.textLeft {
  width: 500px;
  margin-left: 20%;
}
.revolutionizing {
  background-color: rgb(7, 51, 7);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  filter: brightness(50%);
}
.revolutionizing:hover {
  filter:brightness(100%);
  transition: filter 0.5s ease-in;
}

.farm {
  width: 35%;
  padding-left: 10%;
}

.revHeader {
  color: aliceblue;
  font-size: 120%;
}

.revP {
  color: aliceblue;
  font-size: 100%;
}

.regeneration {
  background: url("https://wallpapers.com/images/high/lush-leaves-and-water-droplets-57wo22amhlf3gchp.webp") no-repeat;
  display: flex;
  filter: grayscale(100%);
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 20px;
}
.regeneration:hover {
  filter:grayscale(0%);
  transition: filter 0.5s ease-in-out;
}

.regenh1 {
  text-align: center;
  font-size: 200%;
  color: white;
}

.regenP {
  color: white;
  text-align: center;
}

.textLeft2 {
  display: flex;
  align-items: center;
  width: 500px;
  margin-left: 20%;
}

.regenImg {
  width: 30%;
  display: flex;
  padding-left: 250px;
}

.help {
  background-color: wheat;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15%;
  display: flex;
  text-align: left;
  justify-content: left;
  filter: brightness(50%);
}
.help:hover {
  filter:brightness(100%);
  transition: filter 0.5s ease-in;
}

.hyHelp{
  margin-left: 20%;
}

.helpUl {
  padding-right: 20%;
}

.igImg {
  width: 10%;
}

.igHref {
  transition: transform 0.2s ease-in-out; /* adds smooth transition effect */
}
.igHref:hover {
  transform: scale(1.05);
}

.regenT {
  padding-right: 18%;
  padding-left: 25%;
  transition: transform 0.2s ease-in-out;
}
.regenT:hover {
  transform: scale(1.05);
}

.dach {
  transition: transform 0.2s ease-in-out;
}
.dach:hover {
  transform: scale(1.05);
}

.partnersDiv {
  display: flex;
}

.partners {
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("https://images.unsplash.com/photo-1533563906091-fdfdffc3e3c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
}

body {
  background-color:hsl(0, 0%, 20%);
}

.homeBg {
  background: url('https://morningchores.com/wp-content/uploads/2018/05/greenhouse_1525700377-800x458.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 50px;
  background-position: -1.85cm  -3cm;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.avatar-menu {
  position: relative;
  display: inline-block;
}

.avatar-menu .menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.avatar-menu:hover .menu {
  display: block;
}

.avatar-menu .menu a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
}

/* .avatar-menu .menu a:hover {
  background-color: #ccc;
} */
