<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>weclum to da amin</h1>
    <form action="/user-home" method="get"><button>Home</button></form>
    <form action="/users" method="get"><button>Display Users</button></form>
    <form action="/farmers" method="get"><button>Display Farmers</button></form>
    <form action="/lands" method="get"><button>Display Land</button></form>
    <form action="/polls" method="get"><button>Display Polls</button></form>
</body>
</html>