<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <section>
        <form action="/farmerInfo" method="POST">
            
        </form>
    </section>
</body>
</html>