<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
    <tr>
    <th>Farmer</th>
    <th>email</th>
    <th>phone</th>
    <th>description</th>
    </tr>
    {{#farmerTable}}
    <tr>
    <td>{{farmer}}</td>
    <td>{{farmerE}}</td>
    <td>{{farmerP}}</td>
    <td>{{description}}</td>
    <td><button>edit</button></td>
    </tr>
    {{/farmerTable}}
</table>
</body>
</html>