<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
    <th>How did you find out about the Kalos project?</th>
    <th>What activities that we offer are you most interest in?</th>
    <th>What part of the Kalos Project are you most interested in?</th>
    <th>Users</th>
    </tr>
    {{#pollTable}}
        <form action="/deleteLand" method="POST">
            <tr>
                <td>{{findOut}}</td>
                <td>{{activityInterest}}</td>
                <td>{{kalosInterest}}</td>
                <td>{{users}}</td>
            </tr>
            <input type="hidden" value={{_id}} name="id">
            <button>delete</button>
        </form>
    {{/Table}}
</table>
</body>
</html>