<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/version-1/styles.css">
     </head>
  <body class="body">

<div>
  <h1 class="title-name">The Kalos Project</h1>
</div>

    <section>
        <form action="/poll" method="POST">
            <p>How did you find out about the Kalos Project?</p>
            <select name="responseFO">
                <option value="instagram">instagram</option>
                <option value="facebook">facebook</option>
                <option value="friend">friend</option>
                <option value="internet">internet</option>
                <option value="employee">employee</option>
                <option value="other">other</option>
            </select>
            <p>What activities that we offer are you most interested in?</p>
                <input type="text" name="responseAI">
            <p>What part of the Kalos Project do you find most interesting?</p>
                <input type="text" name="responseKI">
                <input type="hidden" value={{_id}} name="user">
            <button name="submitPollQ">Submit</button>
        </form>
    </section>  

  </body>
</html>