<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
    <th>username</th>
    <th>email</th>
    <th>phone</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>isAdmin</th>
    </tr>
    {{#userTable}}
    <tr>
    <td>{{username}}</td>
    <td>{{email}}</td>
    <td>{{phone}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{isAdmin}}</td>
    <td>
        <form action="/updateUser" method="post">
            <input type="hidden" name="userId" value="{{_id}}">
            <button name="update">update</button>
        </form>
    </td>
    </tr>
    {{/userTable}}
</table>
</body>
</html>