<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/version-1/styles.css">
  </head>
  <body class="body">
 {{> navbar}}
      
    

  <div class = "logoDiv">
    <img class = "logo" src = "https://1281b8.p3cdn1.secureserver.net/wp-content/uploads/2023/03/Untitled-design-6-e1679271706190.png">
  </div>

<div>
  <h1 class="title-name">Welcome {{user}} to the Kalos Project</h1>
</div>



  <div class= "revolutionizing">
    <div class = "textLeft">
      <h1 class="revHeader">
        Revolutionizing Sustainable Agriculture
      </h1>
      <br>
      <p class = "revP">Founded on the local production of organic food and agricultural inputs, The Kalos Project is working to create circular, sustainable, and regenerative local economies within Montgomery and Harris counties. 
      This will be accomplished through the formation of a mycelium-like network of connections and relationships between producers, consumers, buisnesses, and youth  in the community. </p>
    </div>
    <img class= "farm" src="https://1281b8.p3cdn1.secureserver.net/wp-content/uploads/2023/03/Photo-Mar-16-2023-4-34-38-PM-2048x1536.jpg">
  </div>

  <div class = "regeneration">
    <div class = "textLeft2">
    <p class="regenP"><b class="regenh1">Regeneration Station</b> <br>
    <br>The marriage of Dachnik Aquaponics’  proprietary aquaponics systems & Regenitech’s Earth Power Lodge, our Regeneration Station is a highly efficient, sustainable, and regenerative solution to many agricultural challenges of the 21st century.</p>
    </div>
    <img class = "regenImg" src = "https://1281b8.p3cdn1.secureserver.net/wp-content/uploads/2023/03/S2000-modular-1200-1024x512.jpg">
  </div>

  <div class="help">
    <h1 class="hyHelp">How You Can Help:</h1>
    <div class = "helpOps">
    <ul style="list-style: none" class="helpUl">
      <li class="igHref"><a  href = "https://www.instagram.com/kalosproject.earth/">
        <img class="igImg" src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="Instagram Logo">
        <span>Follow Our Socials</span>
      </a></li>
      <li class="igHref"><a class="localFarmersHref" href ="farmerInfo">
        <img class="igImg" src="https://cdn-icons-png.flaticon.com/512/3439/3439283.png" alt="Instagram Logo">
        <span>Connect us with Local Farmers</span>
      </a></li>
      <li class="igHref"><a class="findLandHref" href = "/findLand">
        <img class="igImg" src="https://cdn-icons-png.flaticon.com/512/2838/2838856.png" alt="Instagram Logo"><span>Help us Find Land To Buy</span>
      </a></li>
    </ul>
  </div>
  </div>
  <div class="partners">
    <h1>Our Partners:</h1>
    <div class="partnersDiv">
      <div class="regenT">
        <a href="https://www.regenitech.com/"><img src="https://1281b8.p3cdn1.secureserver.net/wp-content/uploads/2023/03/R-300x158.png"></a>
      </div>
      <div class="dach">  
        <a href="https://www.dachnikaquaponics.com/"><img src="https://1281b8.p3cdn1.secureserver.net/wp-content/uploads/2023/03/R-1-300x132.png"></a>
      </div>
    </div>
  </div>

<form action="/poll">
    <div>
        Help us get to know you better with a quick poll here!
    </div>
    <button>Let Us Know!</button>
</form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  {{> footer}}
  </body>
</html>